/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #863640;
}

/* Contenedor principal */
.box {
    width: 400px;
    height: auto;
    padding: 40px;
    background-color: #FFB5B5;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
}

/* Contenedor del título */
.contenedor {
    text-align: center;
    margin-bottom: 30px;
}

/* Estilo del título "Login" */
.texto {
    color: white;
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Contenedor de inputs */
.input-container {
    margin: 20px 0;
}

/* Estilos de los campos de entrada */
.input-box {
    width: 100%;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 18px;
    color: #666;
    box-sizing: border-box;
}

/* Contenedor de botones */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/* Estilos de los botones */
.button {
    background-color: #FFB5B5;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
    text-decoration: none;
    font-style: italic;
}

/* Efecto hover para los botones */
.button:hover {
    background-color: #863640; /* Color de fondo al pasar el cursor */
    transform: translateY(2px);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}