/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #863640;
}

/* Cuadro rosa */
.box {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFB5B5;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
}
/* contenedor para la letra "Iniciar Sesion"*/
.contenedor {
    position: relative;
    width: 50%;
    height: 40px;
}

.texto {
    position: relative;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Sombra para crear el borde */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Cuadro Usuario */
.box1 {
    /*Tamaño del cuadro*/
    width: 300px;
    height: 50px;
    /*Posicion del cuadro*/
    margin-left: 150px;
    margin-top: 70px;
    /*color del cuadro*/
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
}

/* Cuadro Contraseña */
.box2 {
    /*Tamaño del cuadro*/
    width: 300px;
    height: 50px;
    /*Posicion del cuadro*/
    margin-left: 150px;
    margin-top: 80px;
    /*color del cuadro*/
    background-color: #ffffff;
    border: 2px solid black;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
}